data/*
*.out
*/slurm/*
*.sbatch
*/__pycache__/*
*/slurms/*
results/
src/data/example_data/
*.pyc
*.coverage
example/
lightning_logs/

src/goViral/fine_tuned_model/
src/goViral/finetuned_model/

### code for tools
CliqueSNV/
HaploDMF/
QuasiSeq/
RVHaplo/
Strainline/
src/scripts/__pycache__/

# data
src/lumc_03_50/
src/data/
# test runs
test_runs/
# finetuned model
src/goViral/fine_tuned_model/

# other results
src/results_arch/*
src/results_debug/*
src/results_debug_2/*
src/results_simulations/*
src/results_simulations_2/*
# cache
cache/*

# singularity images
*.sif
