data/*
*.out
*/slurm/*
*.sbatch
*/__pycache__/*
*/slurms/*
results/
src/data/example_data/
*.pyc
*.coverage
example/
lightning_logs/
### code for tools
CliqueSNV/
HaploDMF/
QuasiSeq/
RVHaplo/
Strainline/
src/scripts/__pycache__/



