data/*
*.out
*/slurm/*
*.sbatch
*/__pycache__/*
*/slurms/*
results/
src/data/example_data/
*.pyc
*.coverage
example/
lightning_logs/

goViral/fine_tuned_model/

### code for tools
CliqueSNV/
HaploDMF/
QuasiSeq/
RVHaplo/
Strainline/
src/scripts/__pycache__/

# data
src/lumc_03_50/
src/data/
# test runs
test_runs/
# finetuned model
src/goViral/fine_tuned_model/



